{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div style="background-color: #383838"
         class="w-100 h-100 d-flex flex-column align-items-center justify-content-around">
        <div class="w-100 d-flex flex-column align-items-center justify-content-around" style="height: 85%">
            <img src="{% static "images/logo_transparent_yellow.png" %}" alt="img"
                 class="center"
                 style="width: 400px;">
            {% if form.errors %}
                <span class="colored-text">
                    There were some errors in the information you entered. Please correct the following:
                </span>
                {% if form.non_field_errors %}<span class="colored-text">{{ form.non_field_errors }}</span>{% endif %}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li class="colored-text">{{ field.label }}: {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{% url 'signup' %}"
                  class="w-75 h-50 d-flex flex-column align-items-center justify-content-around">
                {% csrf_token %}
                {% render_field form.email placeholder="EMAIL" class+="rounded custom_input" %}
                {% render_field form.name placeholder="NAME" class+="rounded custom_input" %}
                {{ form.role }}
                <div class="d-flex flex-row align-items-center justify-content-between" style="width: 350px">
                    {% render_field form.password1 placeholder="PASSWORD" class+="rounded custom_input" style+="width: 320px" %}
                    <i class="fa fa-info-circle" style="color: #FFC40C; font-size: 25px" aria-hidden="true"
                       data-toggle="tooltip" data-html="true" data-placement="right""
                    title="{{ form.password1.help_text }}"></i>
                </div>
                {% render_field form.password2 placeholder="CONFIRM PASSWORD" class+="rounded custom_input" %}
                <input type="submit" value="SIGNUP" class="btn btn-custom">
                <p></p>
                <a href="{% url 'login' %}" class="btn-custom btn">LOGIN</a>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('main2').style.padding = '0';
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({container: 'body', boundary: 'body'});
            $("label").append("<span class='checkmark'></span>");
        });
    </script>
    <style>
        label {
            display: block;
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            -webkit-user-select: none;
            font-size: 18px;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #FFC40C;
            margin: 0;
        }

        /* Hide the browser's default radio button */
        label input {
            display: none;
        {#position: absolute;#}{#opacity: 0;#}{#cursor: pointer;#}
        }

        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: transparent;
            border: 1px solid #FFC40C;
            border-radius: 50%;
        }

        /* When the radio button is checked, add a blue background */
        label input:checked ~ .checkmark {
            background-color: #FFC40C;
        }

        #id_role {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            width: 340px;
            margin-bottom: 0;
        }
    </style>
{% endblock %}