{%extends 'base.html' %}

{% load crispy_forms_tags %}
{%block content%}
<form method='post'>
    {%csrf_token%}
    <div class="col">
        <div class="row">
            <div class="col-5">
                {{form.title|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{form.effort|as_crispy_field}}
            </div>
            <div class="col-3">
                {{form.story_points|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{form.status|as_crispy_field}}
            </div>
            <div class="col-3">
                {{form.pbi_type|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{form.priority|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{form.main_dev|as_crispy_field}}
                {{form.other_dev|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">Save </button>
            </div>
        </div>

    </div>

</form>



{%endblock%}