{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        {% if pbis %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col">Story Points</th>
                        <th scope="col">Cumulative Story Points</th>
                        <th scope="col">Sprint</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for pbi in pbis %}
                    <tr id="row{{ pbi.id }}">
                        <th scope="row">{{ pbi.id }}</th>
                        <td>{{ pbi.title }}</td>
                        <td>{{ pbi.last_updated }}</td>
                        <td>{{ pbi.story_points }}</td>
                        <td>{{ pbi.cumsp }}</td>
                        <td>{{ pbi.sprint_no | default:'-' }}</td>
                        <td>{{ pbi.priority | default:'-' }}</td>
                        <td>{{ pbi.get_status_display }}</td>
                        <td>
                            {% if pbi.status == 'TD' %}
                                <button onclick="onDelete(event, {{ pbi.id }})" class="btn">🗑</button>
                                <button data-toggle="modal" data-target="#modal" data-url="{% url 'edit-pbi' pbi.pk %}"
                                   class="btn">✏
                                </button>
                            {% endif %}
                            <button class="btn">👁</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <button data-toggle="modal" data-target="#modal" data-url="{% url 'add-pbi' %}" class="btn btn-danger">
            Add PBI
        </button>
        <div class="modal fade" id="modal"></div>
    </div>

    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('url');
            var modal = $(this);
            $.ajax({
                url: url,
                context: document.body
            }).done(function (response) {
                modal.html(response);
            });
        });

        function onDelete(e, id) {
            $.ajax({
                url: "delete/" + id,
                success: function (del_id) {
                    if (id == del_id) {
                        $("#row" + id).remove();
                    }
                }
            });
        }
    </script>
{% endblock %}