<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">#{{ pbi.pk }}: {{ pbi.title }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-4">
                    <dt>Story Points</dt>
                    <dd>{{ pbi.story_points }}</dd>
                </div>
                <div class="col-4">
                    <dt>Priority</dt>
                    <dd>{{ pbi.priority }}</dd>
                </div>
                <div class="col-4">
                    <dt>Type</dt>
                    <dd>{{ pbi.get_pbi_type_display }}</dd>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <dt>Last Updated</dt>
                    <dd>{{ pbi.last_updated }}</dd>
                </div>
                <div class="col-4">
                    <dt>Status</dt>
                    <dd>{{ pbi.get_status_display }}</dd>
                </div>
                <div class="col-4">
                    <dt>Sprint No.</dt>
                    <dd>{{ pbi.sprint.id | default:'-' }}</dd>
                </div>
            </div>
        </div><!-- /.modal-body -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
