{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
    {% if sprint %}
        <div>
            <div class="page-header" style="margin-bottom: 10px">
                <div class="d-flex justify-content-between">
                    <h2>Sprint {{ sprint.id }}
                        <small class="text-muted">
                            {% if pbis %}
                                Capacity left: {{ capacity_left }}hr{{ capacity_left|pluralize }}
                            {% else %}
                                Start adding PBIs from the Product Backlog
                            {% endif %}
                        </small>
                    </h2>

                    <h5 class="text-muted">Cumulative Story Points: {{ cum_sp }}&emsp;Time
                        left: {{ time_left }}&emsp;{{ sprint.get_status_display }}</h5>

                </div>
                {% if capacity_left < 0 %}
                    <h5 class="text-danger">Capacity exceeded: remove some PBIs</h5>
                {% endif %}
                <div class="progress">
                    <div class="progress-bar transition" role="progressbar"
                         style="width: 0; font-size: 10px; transition: 1s"
                         aria-valuenow="{{ burndown }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {% if pbis %}
                            Sprint {{ burndown }}% completed
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion">
                {% for pbi in pbis %}
                    <div class="card">
                        <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse{{ pbi.id }}"
                             aria-expanded="false" role="button"
                             id="heading{{ pbi.id }}" style="cursor: pointer;"
                             aria-controls="collapse{{ pbi.id }}">
                            <div class="d-flex justify-content-between">
                                <span><b class="h6">PBI #{{ pbi.id }}</b> &emsp; {{ pbi.title }}</span>
                                <div class="d-flex justify-content-between w-50">
                                    <span>Story Points: <b>{{ pbi.story_points }}</b></span>
                                    <span>Priority: <b>{{ pbi.priority }}</b></span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Total Effort: <b>{{ pbi.effort }}</b></span>
                                <div class="d-flex justify-content-between w-50">
                                <span>Hours remaining: <b
                                        class="text-danger">{{ pbi.effort|sub:pbi.effort_done }}</b></span>
                                    <span>Hours Done: <b class="text-success">{{ pbi.effort_done }}</b></span>
                                </div>
                            </div>
                        </div>
                        <div id="collapse{{ pbi.id }}" class="collapse" aria-labelledby="heading{{ pbi.id }}">
                            <div class="card-body row nowrap overflow-auto">
                                {% for task in pbi.task_set.all %}
                                    <div id="card{{ task.id }}" class="card" style="width: 270px; margin: 5px 5px">
                                        <div class="card-header d-flex bg-transparent justify-content-between align-items-center">
                                            <b>{{ task.effort }}hr{{ task.effort|pluralize }}</b>
                                            <b> {{ task.get_status_display }} </b>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h5 class="card-title"> #{{ task.id }}</h5>
                                                <div class="d-flex align-items-center justify-content-center"
                                                     data-toggle="tooltip" data-placement="top" title="{{ task.owner }}"
                                                     style="height: 45px;background-color: #FFC40E; width: 45px; border-radius: 50%; cursor: default">
                                                 <span class="text-white"
                                                       style="font-size: 25px; font-weight: 100">{{ task.owner | capfirst | make_list | first }}</span>
                                                </div>
                                            </div>
                                            <p class="card-text"> {{ task.description }} </p>

                                        </div>
                                        {% if user.developing == product %}
                                            <div class="card-footer d-flex bg-transparent justify-content-between align-items-center">
                                                <button data-toggle="modal" data-target="#modal"
                                                        data-url="{% url 'edit-task' task.pk %}"
                                                        class="btn"
                                                        style="font-size: 15px"
                                                >✏
                                                </button>
                                                <button onclick="onDeleteTask(event)"
                                                        data-url="{% url 'remove-pbi-from-sprint' task.pk %}"
                                                        class="btn"
                                                        style="font-size: 15px">🗑
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if user.developing == product %}
                                <div class="card-footer d-flex justify-content-between">
                                    <button data-toggle="modal" data-target="#modal"
                                            data-url="{% url 'add-task' pbi.pk %}"
                                            class="btn btn-danger">
                                        Add Task
                                    </button>
                                    <button onclick="onRemovePBI(event, {{ pbi.pk }})" class="btn btn-danger">Remove PBI
                                        from
                                        Sprint
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if sprint.status == 'NS' %}
                <div style="margin: 10px">
                    <a href="{% url 'start-sprint' user.developing.id %}" class="btn btn-danger">
                        Start Sprint
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <br/>
        <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
            {% if user.developing == product %}
                <button data-toggle="modal" data-target="#modal" data-url="{% url 'add-sprint' user.developing.id %}"
                        class="btn btn-danger">
                    Add Sprint
                </button>
            {% else %}
                <span class="h4">Please ask a member of the development team to add a sprint to view more details.</span>
            {% endif %}
        </div>
    {% endif %}

    </div>
    <div class="modal" id="modal"></div>
    <script>
        $('#modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('url');
            var modal = $(this);
            $.ajax({
                url: url,
                context: document.body
            }).done(function (response) {
                modal.html(response);
            });
        });

        $(document).ready(function () {
            $('.transition').css('width', "{{ burndown }}%")
        });

        function onDeleteTask(e, id) {
            $.ajax({
                url: $(e.target).data('url'),
                success: function (del_id) {
                    window.location.reload()
                }
            });
        }

        function onRemovePBI(e, id) {
            $.ajax({
                url: $(e.target).data('url'),
                success: function (res) {
                    console.log(res);
                    if (res) {
                        window.location.reload()
                    } else {
                        alert(res['errorMessage'])
                    }
                }
            });
        }

        $(document).ready(function () {
            $('#searchbarRight').append("<a href=\"{% url 'pb' product.id %}\" class=\"btn btn-light h4\">Product Backlog</a>")
        });
    </script>
{% endblock %}